html {
    font-size: 10px;
    background: url('./../resources/main-background.jpg') center center no-repeat;
    background-size: cover;
}
.mainContainer {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.gameHistory {
  height: 80vh;
  text-align: center;
  width: 25%;
}
.historyTitle {
  background-color: rgba(255,255,255,.6);
  border-radius: .5rem;
  height: 100%;
  width: 80%;
  overflow: scroll;
}
.historyTitle > p {
  color: #000;
  font-size: 2.5rem;
  padding-top: 10px;
}
.historyContent li {
  text-align: left;
  padding: 1rem .5rem;
  font-size: 1.5rem;
}
.items {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.item {
  border: .4rem solid #FFF;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem .5rem;
  transition: all .07s ease;
  width: 15rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.3);
  text-shadow: 0 0 .5rem black;
  z-index: 10;
}

.hilight:active {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.hilight:hover{
  background: #FFF;
  color: #000;
}

.icon {
  display: block;
  margin: 0 auto;
  z-index: 2;
}

.hilight:hover .icon path {
  fill: #000;
}

.info {
  border: .4rem solid #FFF;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem .5rem;
  transition: all .07s ease;
  width: 40rem;
  color: white;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 .5rem black;
  text-align: center;
}

.scores {
  display: flex;
}

.score {
  background-color: #FFF;
  color: #000;
  padding: 3rem 0;
  font-size: 3rem;
  margin: 0;
  width: 100%;
}
.name {
  font-size: 2rem;
  padding: 1rem 0;
}
.noPadding {
  padding: 0;
}

@media (max-width: 750px){
  .gameHistory {
    display: none;
  }
}

@media (max-width: 515px){
  .item {
    margin: 0 .5rem;
    padding: 0;
    width: 10rem;
  }
  .info {
    margin: 2rem auto;
    width: 50%;
  }
  #newGame {
    margin: 2rem auto;
    padding: 1rem .5rem;
  }
}

@media (max-width: 335px){
  .selection {
    width: 100%;
    text-align: center;
  }
  .item {
    margin: 0 1%;
    width: 30%;
  }
  .info {
    margin: 1.5rem 0;
    width: 90%;
  }
  .scores {
    width: 90%;
    justify-content: center;
  }
  #newGame {
    width: 20rem;
  }
}